.top-row {
    height: 3.5rem;

}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;

}

.nav-item {
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {

        height: 3rem;
        display: flex;
        align-items: center;

    }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {

        display: block;
    }

    .nav-scrollable {

        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
