@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="top-title">Fenix365 · Gestión de herramientas y activos</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer class="navi-bottom-bar">
    <span>Navitrans 40 ańos</span>
    <span class="separator">·</span>
    <span>Mockup diseńado por TI Soluciones</span>
</footer>

<div id="blazor-error-ui">
    Ha ocurrido un error inesperado.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">??</a>
</div>
