.permission-action-denied {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 28px;

        padding: 0 .65rem;

        white-space: nowrap;
    }
